<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="background_color">
        <div class="logo">
            <img src="img/logo.gif" alt="Логотип">
        </div>
        <div class="text_header">
            «Хозяйственный мужчина ищет надежную красавицу для прогулок по бездорожью. Полный привод обязателен»
        </div>

        <div class="all_left">
            <div class="ten">
                <div class="circle">
                    <div class="nav left">
                    <img src="img/left.gif" alt="Левая стрелка">
                    </div>
                </div>
            </div>
        </div>
        <div class="all_right">
            <div class="ten">
                <div class="circle">
                    <div class="nav right">
                    <img src="img/right.gif" alt="Правая стрелка">
                    </div>
                </div>
            </div>
        </div>

        <div class="offroad_cars">
            <img src="img/offroad_cars.gif" alt="Внедорожники">
        </div>

        <div class="video">
            <img src="img/video.gif" alt="Видео">
            <div class="name_video_fon">
            </div>
            <div class="name_video">
                Яндекс.Авто за минуту
            </div>
            <div class="all_play">
                <div class="ten_play">
                    <div class="circle_play">
                        <div class="nav play">
                        <img src="img/play.gif" alt="Play">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text_header2">
            Простой способ выбрать автомобиль
        </div>

        <div class="different">
            <div class="img1"><img src="img/img1.gif" alt=""></div>
            <div class="img2"><img src="img/img2.gif" alt=""></div>
            <div class="img3"><img src="img/img3.gif" alt=""></div>
            <div class="img4"><img src="img/img4.gif" alt=""></div>
            <div class="name_img first">Каталог</div>
            <div class="name_img second">Поиск</div>
            <div class="name_img third">Выборки автомобилей</div>
            <div class="name_img four">Простой язык</div>
            <div class="text_img first">Самый большой каталог<br>с описанием автомобилей<br>от современных — до 20 лет назад</div>
            <div class="text_img second">Возможность искать<br>по большему числу параметров, чем где бы<br>то ни было</div>
            <div class="text_img third">Выборки автомобилей<br>в зависимости от ваших потребностей: «семейный», «для города», «для путешествий»</div>
            <div class="text_img four">Возможность описания характеристик простым языком, понятным неискушенному пользователю</div>
        </div>

        <div class="last_text">
            Выбирайте. Находите. Заводите!
        </div>
        <div class="button">
            Попробовать!
        </div>

    </div>
</body>
</html>